[submodule "libs/BOSL2"]
	path = libs/BOSL2
	url = https://github.com/BelfrySCAD/BOSL2.git
[submodule "libs/machineblocks"]
	path = libs/machineblocks
	url = https://github.com/pks5/machineblocks.git
